baseURL = 'https://znkd1.github.io/'
languageCode = 'zh-cn'
title = '炼金室'
theme = 'PaperMod'
publishDir = 'docs'  # 设置发布目录为 docs

disableKinds = ["RSS"]  # 只禁用 RSS

[params]
  defaultTheme = "light"  # 默认主题：light 或 dark
  ShowReadingTime = true  # 显示阅读时间
  ShowWordCount = true    # 显示字数统计
  ShowPostNavLinks = true # 显示上一篇/下一篇导航
  ShowBreadCrumbs = true  # 显示面包屑导航
  ShowCodeCopyButtons = true  # 显示代码复制按钮

[menu]
  [[menu.main]]
    identifier = "home"
    name = "首页"
    url = "/"
    weight = 1
  
  [[menu.main]]
    identifier = "posts"
    name = "文章"
    url = "/posts/"
    weight = 2

  [[menu.main]]
    identifier = "tags"
    name = "标签"
    url = "/tags/"
    weight = 3

  [[menu.main]]
    identifier = "about"
    name = "关于"
    url = "/about/"
    weight = 4
